@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                Copyright &copy; Your Website 2019
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->